.container-not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 245px;
    height: auto;
    border: 2px solid silver;
    border-radius: 8px;
    padding: 5px 30px 30px 30px;
    z-index: 2;
}
.container-not-found h2 {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid silver;
    color: #FFF;
    font-size: 20px;
    font-weight: 300;

}

.label-not-found label {
    display: block;
    color: #FFF;
    font-size: 11px;
    transition: 0.4s;
    margin: 25px 0px 5px 0px;
    text-align: center;
}

.label-not-found {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.button-not-found {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
#btn-datas-not-found  {
    margin: 8px 0px;
    width: 110px;
    height: 25px;
    font-size: 10px;
}
